/assets/bootstrap-4.0.0
/assets/bootstrap4-offline-docs-4.3
/assets/js/isotope-3.0.5
/assets/js/isotope-docs
/assets/js/jquery-ui-1.12.1
/assets/js/Modernizr-3.11.7
/assets/js/prettyPhoto_compressed_3.1.6
/assets/js/select2-4.0.13

