/* fonts  */

/* Montserrat */
@font-face {
	font-family: 'Montserrat_Black';
	src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face {
	font-family: 'Montserrat_Bold';
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
	font-family: 'Montserrat_ExtraBold';
	src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
	font-family: 'Montserrat_ExtraLight';
	src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}
@font-face {
	font-family: 'Montserrat_Light';
	src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
	font-family: 'Montserrat_Medium';
	src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
	font-family: 'Montserrat_Regular';
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
	font-family: 'Montserrat_SemiBold';
	src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
	font-family: 'Montserrat_Thin';
	src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
}

.montserrat-black {
	font-family: 'Montserrat_Black';
}
.montserrat-bold {
	font-family: 'Montserrat_Bold';
}
.montserrat-extrabold {
	font-family: 'Montserrat_ExtraBold';
}
.montserrat-extralight {
	font-family: 'Montserrat_ExtraLight';
}
.montserrat-light {
	font-family: 'Montserrat_Light';
}
.montserrat-medium {
	font-family: 'Montserrat_Medium';
}
.montserrat-regular {
	font-family: 'Montserrat_Regular';
}
.montserrat-semibold {
	font-family: 'Montserrat_SemiBold';
}
.montserrat-thin {
	font-family: 'Montserrat_Thin';
}



@font-face {
	font-family: 'Opensans';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}


.osans {
	font-family: 'Opensans';
}

/* Common Styles */

/* Navbar  */

nav.navbar-brand {
	font-size: 2.5em;
}
nav.collapse ul.navbar-nav li {
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	
}
.navbar-expand-md .navbar-nav .nav-link{
	padding: 1em 1.04em;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:hover{
	color: lightgreen !important	;

}
nav.navbar-dark .navbar-nav li.nav-item:hover {
	color: cornflowerblue;

}
nav.navbar.navbar-light {
	background-color: rgb(255, 255, 255) !important;
	color: black;
	box-shadow: 0px 1px 20px 0px rgba(126, 152, 130, 0.801);
	transition: all 0.3s ease;
}
nav.navbar.navbar-dark.fixed-top {
	transition: all 0.3s ease;
}



/* carousel */
.carousel {
	position: relative;
}
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.carousel-item {
	position: relative;
	display: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	transition: -webkit-opacity 1s ease;
	transition: opacity 0.69s ease;
	transition: opacity 0.69s ease, -webkit-opacity 0.69s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;

}
/* carousel typography  */
.carousel .carousel-inner .carousel-item h2{
	font-family: 'Montserrat_bold';
}
.carousel .carousel-inner .carousel-item p{
	font-family: 'Opensans';
	font-size: 1.2em;
	line-height: 1.4em;
}
/* carousel images */
.carousel-image-1 {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	background: url('../images/slide1.jpg') 50% 0 repeat fixed;
}
.carousel-image-2 {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	background: url('../images/slide2.jpg') 50% 0 repeat fixed;
}
.carousel-image-3 {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	background: url('../images/slide3.jpg') 50% 0 repeat fixed;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
	display: block;
}

.carousel-item-next,
.carousel-item-prev {
	position: absolute;
	top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
	-webkit-transform: none;
	transform: none;
	opacity: 1;
}

.carousel-item-next,
.active.carousel-item-right {
	-webkit-transform: none;
	transform: none;
	opacity: 0.2;
}

.carousel-item-prev,
.active.carousel-item-left {
	-webkit-transform: none;
	transform: none;
	opacity: 0.2;
}

.carousel-control-prev,
.carousel-control-next {
	position: absolute;
	top: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 15%;
	color: #fff;
	text-align: center;
	opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: .9;
}

.carousel-control-prev {
	left: 0;
}

.carousel-control-next {
	right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 15;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
}

.carousel-indicators li {
	position: relative;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 30px;
	height: 3px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.carousel-indicators li::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.carousel-indicators .active {
	background-color: rgb(109, 230, 195);
}

.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 35vh;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
}

.btn-theme {
	background-color: #69c5d3;
	color: white;
	letter-spacing: 1.4px;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.7em;
	padding: 12px 37px;
	border-radius: 45px;
	text-transform: uppercase;
	transition: all 0.2s ease-in;

}
.btn-theme:hover {
	background-color: #212121;
	color: white;

}
.btn-theme:focus {
	box-shadow: none;
}



.carousel-item a.btn-theme{
	margin-right: 100%;
}















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.carousel-image {
		object-fit: cover;
		height: 100vh;
		max-width: 100%;
		background-size: cover;
		background-position: center;
	}
	.carousel-caption {
		position: absolute;
		right: 15%;
		bottom: 25vh;
		left: 15%;
		z-index: 10;
		color: #fff;
		text-align: center;
	}
	.caption-title {
		font-size: 3em;
	}
	.caption-desc {
		font-size: smaller;
	}
	.carousel-control-next,
	.carousel-control-prev {
		display: none;
	}
	nav.navbar.navbar-dark.fixed-top {
		background-color: rgb(255, 255, 255) !important;
		color: black;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	nav.navbar-dark span.bograr.icon_menu {
		color: white;
	}
	.navbar-dark .navbar-toggler {
		color: rgb(0, 0, 0);
		border-color: rgba(255, 255, 255, 0);
	}

	nav.navbar-dark a.navbar-brand {
		display: inline;
		color: rgb(0, 0, 0);
		margin-right: 30vw;
		margin-left: 20vw;
	}
	nav.navbar-dark a.navbar-brand:hover {
		color: rgb(0, 0, 0);
	}

	.navbar-dark.navbar-toggler {
		border: none;
		color: black;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


	.carousel-image {
		object-fit: cover;
		height: 100vh;
		max-width: 100%;
		background-size: cover;
		background-position: center;
	}
	.carousel-caption {
		position: absolute;
		right: 15%;
		bottom: 20vh;
		left: 15%;
		z-index: 10;
		color: #fff;
		text-align: center;
	}
	.caption-title {
		font-size: 3.9em;
	}
	.caption-desc {
		font-size: 1.1em;
	}
	.carousel-control-next,
	.carousel-control-prev {
		display: none;
	}
	nav.navbar.navbar-dark.fixed-top {
		background-color: rgb(255, 255, 255) !important;
		color: black;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	nav.navbar-dark span.bograr.icon_menu {
		color: white;
	}
	.navbar-dark .navbar-toggler {
		color: rgb(0, 0, 0);
		border-color: rgba(255, 255, 255, 0);
	}

	nav.navbar-dark a.navbar-brand {
		display: inline;
		color: rgb(0, 0, 0);
		margin-right: 30vw;
		margin-left: 20vw;
	}
	nav.navbar-dark a.navbar-brand:hover {
		color: rgb(0, 0, 0);
	}

	.navbar-dark.navbar-toggler {
		border: none;
		color: black;
	}


	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


	.carousel-image {
		object-fit: cover;
		height: 100vh;
		max-width: 100%;
		background-size: cover;
		background-position: center;
	}
	.carousel-caption {
		position: absolute;
		right: 15%;
		bottom: 22vh;
		left: 15%;
		z-index: 10;
		color: #fff;
		text-align: center;
	}
	.caption-title {
		font-size: 4.3em;
	}
	.caption-desc {
		font-size: 1.3em;
	}
	.carousel-control-next,
	.carousel-control-prev {
		display: flex;
	}
	nav.navbar.navbar-dark.fixed-top {
		background-color: rgba(26, 26, 26, 0) !important;
		color: black;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	nav.navbar-dark span.bograr.icon_menu {
		color: white;
	}
	.navbar-dark .navbar-toggler {
		color: rgb(255, 255, 255);
		border-color: rgba(255, 255, 255, 0);
	}

	nav.navbar-dark a.navbar-brand {
		display: inline;
		color: rgb(255, 255, 255);
		margin-right: 30vw;
		margin-left: 5vw;
	}
	nav.navbar-dark a.navbar-brand:hover {
		color: rgb(0, 0, 0);
	}

	.navbar-dark.navbar-toggler {
		border: none;
		color: black;
	}



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


	.carousel-image {
		object-fit: cover;
		height: 100vh;
		max-width: 100%;
		background-size: cover;
		background-position: center;
	}
	.carousel-caption {
		position: absolute;
		right: 20%;
		bottom: 22vh;
		left: 20%;
		z-index: 10;
		color: #fff;
		text-align: center;
	}
	.caption-title {
		font-size: 5em;
	}
	.caption-desc {
		font-size: 1.3em;
	}
	.carousel-control-next,
	.carousel-control-prev {
		display: flex;
	}
	nav.navbar.navbar-dark.fixed-top {
		background-color: rgba(26, 26, 26, 0) !important;
		color: black;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	nav.navbar-dark span.bograr.icon_menu {
		color: white;
	}
	.navbar-dark .navbar-toggler {
		color: rgb(255, 255, 255);
		border-color: rgba(255, 255, 255, 0);
	}

	nav.navbar-dark a.navbar-brand {
		display: inline;
		color: rgb(255, 255, 255);
		margin-right: 30vw;
		margin-left: 1vw;
	}
	nav.navbar-dark a.navbar-brand:hover {
		color: rgb(240, 240, 240);
	}

	.navbar-dark.navbar-toggler {
		border: none;
		color: black;
	}




}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


	
	.carousel-image {
		object-fit: cover;
		height: 100vh;
		max-width: 100%;
		background-size: cover;
		background-position: center;
	}
	.carousel-caption {
		position: absolute;
		right: 22%;
		bottom: 24vh;
		left: 22%;
		z-index: 10;
		color: #fff;
		text-align: center;
	}
	.caption-title {
		font-size: 5.2em;
	}
	.caption-desc {
		font-size: 1.3em;
	}
	.carousel-control-next,
	.carousel-control-prev {
		display: flex;
	}
	nav.navbar.navbar-dark.fixed-top {
		background-color: rgba(26, 26, 26, 0) !important;
		color: black;
		display: flex;
		align-content: center;
		justify-content: center;
	}
	nav.navbar-dark span.bograr.icon_menu {
		color: white;
	}
	.navbar-dark .navbar-toggler {
		color: rgb(255, 255, 255);
		border-color: rgba(255, 255, 255, 0);
	}

	nav.navbar-dark a.navbar-brand {
		display: inline;
		color: rgb(255, 255, 255);
		margin-right: 30vw;
		margin-left: 1vw;
	}
	nav.navbar-dark a.navbar-brand:hover {
		color: rgb(240, 240, 240);
	}

	.navbar-dark.navbar-toggler {
		border: none;
		color: black;
	}



}

/* Transitions  */


div.carousel-caption a{
	opacity: 0;
}
div.carousel-caption p{
	display: flex;
	text-align: left;
	opacity: 0;
}
div.carousel-caption h2.n{
	display: flex;
	text-align: left;
	opacity: 0;
}
div.carousel-caption h2.i{
	display: flex;
	text-align: left;
	color: lightgreen;
	opacity: 0;
}
div.title-box{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.cave_green{
	color: lightgreen;
}
.card-img {
	width: 100%;
	object-fit: cover;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 3px;
}
.picard{
	margin: 0 5%;
}


.btn-theme-bare {
	background-color: #ffffff;
	color: #69c5d3;
	letter-spacing: 1.4px;
	font-weight: 700;
	font-size: 13px;
	line-height: 1.7em;
	text-transform: uppercase;


}
.btn-theme-bare:hover {
	background-color: #ffffff;
	color: #69c5d3;

}
.btn-theme-bare:focus {
	box-shadow: none;
}
hr.hr{
	border-color: lightgreen;
	border-width: 4px;
	width: 10%;
}
hr.hr-left{
	margin-right: 100%;
}
.spaced-text{
	letter-spacing: 1.4px;
}
.taller-text{
	line-height: 1.7em;
}
.animate {
	transition: all 0.61s ease;
}
.bg-light_but_dark{
	background-color: #efefef ;
	padding: 4em 3em;
}
.cdes{
	font-weight: 400;
}
.hoverlay-image img{
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(144, 238, 144, 0.795);
  }
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	text-decoration: underline;
	top: 80%;
	left: 20%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }
  .desc {
	color: white;
	font-size: 13px;
	position: absolute;
	top: 90%;
	left: 20%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }
div.hoverlay-image:hover .overlay{
	opacity: 1;
}

div.progrext_container{
	margin: 1.2rem 1rem ;
}

div.progrext_container .row{

	font-family: 'Montserrat';
}

div.progressbars{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 1rem 3rem ;
}
div.post-title {
	margin: 1.2em 0em;
}
div.crumbs {
	font-size: 0.72em;
	margin: 1em 0em;
}

div.crumbs span.crumb-author {
	padding-right: 0.5rem;
	border-right: 3px solid lightgreen;
}
div.crumbs span.crumb-type {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	border-right: 3px solid lightgreen;
}
div.crumbs span.crumb-date {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
a.post-title-link {
	color: black;
	transition: all 0.2s ease;

}
a.post-title-link:hover {
	color: lightgreen;
	text-decoration: none;
}
.post-img {
	width: 100%;
	object-fit: cover;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	transition: all 0.25s ease;
}
.post-img:hover {
	filter: brightness(108%);
	filter: contrast(108%);


}